html {
  font-size: 14px;
}
body {
  font-family: "Montserrat";
  background-color: #79c5f1;
  background-image: url(https://www.binnys.com/media/wysiwyg/homepage/Beer_Sale_Image.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 100%;
  height: 100%;
}
.btn {
  border-radius: 50px;
  padding: 0 26px;
}
.mg {
  margin-top: 50px;
}
.card-title {
  background: linear-gradient(45deg, #fdce4e 0%, #f9d423 100%);
  background: -moz-linear-gradient(45deg, #fdce4e 0%, #f9d423 100%);
  background: -webkit-linear-gradient(45deg, #fdce4e 0%, #f9d423 100%);
  color: #6d4206;
}
